:host {
  position: absolute;
  inset: 0;
  z-index: 1;

  overflow: hidden;
  pointer-events: none;

  display: grid;
  place-items: center;
}

.player-shell {
  height: 100%;
  aspect-ratio: 9 / 16;

  overflow: hidden;
  background: #000;

  position: relative;
}

.youtube-host {
  width: 100%;
  height: 100%;
}

:host.cover {
  .player-shell {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
  }
}
